<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:derby://localhost:1527/AlphaCab</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>P@ssw0rd!</param-value>
    </context-param>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>com.alphacab.util.GuestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.alphacab.util.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.alphacab.util.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.alphacab.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDriversServlet</servlet-name>
        <servlet-class>com.alphacab.controller.DriversServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>com.alphacab.controller.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CallNooberServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CallNooberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestLoginServlet</servlet-name>
        <servlet-class>com.alphacab.controller.GuestLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeDailyReportServlet</servlet-name>
        <servlet-class>com.alphacab.controller.MakeDailyReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/Customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDriversServlet</servlet-name>
        <url-pattern>/Drivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallNooberServlet</servlet-name>
        <url-pattern>/CallNoober</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallNooberServlet</servlet-name>
        <url-pattern>/NooberHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestLoginServlet</servlet-name>
        <url-pattern>/GuestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeDailyReportServlet</servlet-name>
        <url-pattern>/DailyReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
